body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 185, 185);
    background-image: url("https://i.pinimg.com/originals/e3/51/c5/e351c5a041910b06b893c1d7eda6ba2e.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.container {
    width: 900px;
    height: 175px;
    max-width: 80%;
    background-color: rgb(252, 251, 251);
    border-radius:5px;
    padding: 10px;
    box-shadow: 10 0 100px;
    background-color: #F4E23A;
    position: absolute;
}
.button {
    background-color: #F4E23A;
    color: black;

}

.button:active {
  box-shadow: 0 1px black;
  transform: translateY(3px);
}

.next-button{
    background-color:#F4E23A;
    width: 200px;
    margin: 0;
    position: absolute;
    right: 1%;
    top: 4%;
}
.next-button:active{
    box-shadow: 0 1px black;
    transform: translateY(3px);
}
.button-grid {
    display:grid;
    gap: 10px;
    margin: 10px 0;
    background-color: #F4E23A;
}

.rebellogo img {
    position: absolute;
    left: -15px;
    top: 200px;
    width: 500px;
}
.empirelogo img {
    position: absolute;
    right: 25px;
    top: 200px;
    width: 400px;
}
.starwarslogo img {
    position: absolute;
    width: 600px;
    top: 50px;
    right: 750px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.hide{
    display: none;
}
 .button.correct {
    background-color: rgb(4, 167, 4);
  }
  
  .button.wrong {
    background-color: red;
  } 
.imageContainer{ 
    transform: rotate(90deg);
    margin-top: 500px;
    
} 
#greenlightsaber {
    display: none;
}
#redlightsaber{
    display:none;
} 
